.market {
    color: rgb(110, 163, 30);
}

.logo img {
    width: auto;
    height: 30px;
}
.icons {
    margin-left: 256px;
}

.icons a {
    margin: 0;
}

.fa-brands {
    font-size: 15px;
    margin: 10px;
}

/*              End Contract*/
/*              start Home Button*/



#home {
    margin-top: 16px;
    margin-right: 200px;
    margin-left: 2px;
}


#themes_setting_ico {
    position: fixed;
    top: 120px;
    margin: 50px 0 10px 0;
}

#themes_setting_ico i {
    font-size: 24px;
}

.fa_setting {
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: rgb(192, 189, 189) 0px 0px 4px 0px;
}

.fa_setting:hover {
    background-color: #f0f0f0;
}

.location {
    align-items: center;
    width: 370px;
    height: 50px;
    color: #102036;
}

.location i {
    float: left;
    margin-right: 19px;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid black;
}

.location h5 {
    font-weight: bold;
    padding: 6px 0px;
}

.location p {
    font-size: 12px;
}

/*End Container*/
/*Start Navbar*/

.teansition {
    position: relative;
}

.teansition::before {
    content: '';
    position: absolute;
    transition: 1s;
    bottom: 0;
    background-color: yellow;
    width: 0px;
    height: 3px;
    left: 0;
}

.teansition:hover::before {
    width: 100%;
}

.teansition.home_color::before {
    width: 100%;
}

.teansition.home_color:hover::before {
    animation: rakibul 2s;
}

@keyframes rakibul {
    0% {
        width: 0;
        background-color: rgb(255, 238, 5);
    }

    50% {
        width: 100%;
        background-color: rgb(255, 238, 5);
    }

    100% {
        width: 100%;
    }
}

.navbar {
    background-color: #2c5ca0;
}

.navbar ul {
    display: flex;
    text-align: center;
}

.navbar ul li {
    padding: 20px;
    transition: .5s;
    z-index: 1;
    list-style: none;
}

.navmenu {
    position: absolute;
    bottom: 0;
    left: -50px;
}

.navmenu ul {
    margin-top: 23px;
    width: 200px;
    margin-left: -35px;
    text-align: left;
    position: absolute;
    color: white;
    margin: auto;
    background-color: #2c5ca0;
}

.navmenu ul li {
    font-size: 14px;
    border-top: 1px dashed rgba(255, 255, 255, 0.3);
    padding: 13px;
}

.navmenu ul {
    display: none;
}

.navmenu ul:hover {
    cursor: pointer;
}

.navbar ul li:hover .navmenu ul {
    display: block;
}

.navbar ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
}

.navmenu ul li a:hover {
    color: rgb(255, 238, 5);

}
.main_body {
    background: url(image/img_slider02.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: auto;
    background-position: center center;
}
